/* Links */
.u-link--secondary {
  color: $color_link_secondary; //222222

  &:hover,
  &:focus {
    text-decoration: none;
    color: $color_link_hover_secondary; //7247ca
  }
}

.u-link--tertiary {
  color: $color_link_tertiary; //979797

  &:hover {
    text-decoration: none;
    color: $castpress_primary_color; //222222
  }
}

.u-link--quaternary {
  color: $color_link; //7247ca

  &:hover {
    text-decoration: none;
    color: $color_link_secondary; //222222
  }

  &:visited {
    text-decoration: none;
  }
}

/* Line heights */
.u-heading-1-line-height--bg {
  line-height: 33px;
}

.u-heading-1-line-height--sm {
  line-height: 25px;
}

.u-heading-4-line-height--bg {
  line-height: 27px;
}

.u-heading-4-line-height--sm {
  line-height: 20px;
}

.u-heading-5-line-height--sm {
  line-height: 18px;
}

.u-line-height--sm {
  line-height: 15px;
}

/* Font Weights  */
.u-font--semibold {
  font-weight: 600;
}
.u-font--regular {
  font-weight: 400;
}
