.c-post {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 39px;

  @include media(tablet) {
    margin-bottom: 24px;
  }
}

.c-post__header {
  width: 100%;
  color: $castpress_primary_color;

  &::first-letter {
    text-transform: uppercase;
  }

  @include media(tablet) {
    width: calc(100% - 180px);
    padding-left: 39px;
  }
}

.c-post__date {
  color: $castpress_tertiary_color !important;
}

.c-post__header--home {
  width: 100%;
  color: $castpress_primary_color;

  &::first-letter {
    text-transform: uppercase;
  }

  @include media(tablet) {
    width: 100%;
    padding-left: 0px;
  }
}

.c-post__header--page {
  padding-left: 0px;
  margin-bottom: 40px; //qa-
}

.c-post__author {
  color: $castpress_tertiary_color !important;

  &:first {
    text-transform: uppercase;
  }
}

.c-post__author__link,
.author {
  &::first-letter {
    text-transform: uppercase;
  }
}

.c-post__content {
  font-size: 18px;
  color: $castpress_neutral_dark_gray_color;

  li {
    margin-bottom: 8px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 24px;
  }
  p {
    margin-bottom: 39px;
  }
}

.c-post__title {
  padding-bottom: 16px;

  a {
    color: $castpress_primary_color;
  }
}

.c-post__entry-meta {
  padding-bottom: 16px;

  @include media(tablet) {
    padding-bottom: 39px;
  }
}

.c-post__thumbnail {
  width: 180px;
  height: 180px;
  max-height: 180px;
  margin-bottom: 16px;
  border-radius: 4px;

  @include media(tablet) {
    margin-bottom: 0px;
  }
}

.c-post__read-more {
  color: $castpress_quaternary_color !important;

  &:hover {
    color: $castpress_quaternary_color !important;
    text-decoration: underline;
  }
}
.c-post__page-links {
  margin: 16px 0px 0px 0px;
}

.c-post__tag {
  padding-right: 24px;

  color: $castpress_neutral_dark_gray_color !important;

  &:hover {
    color: $castpress_main_accent_color !important;
  }
}
