.search-form {
  position: relative;
}

.c-search-form {
  display: flex;
  position: relative;
}

.c-search-form__label {
  width: 100%;
}

.c-search-form__label__text {
  position: absolute;
  left: -10000px;
}

.c-search-form__input {
  flex-grow: 1;
  height: 40px;
  border-radius: 3px !important;
  padding-right: 40px !important;
  width: 100%;
  min-width: 200px;
  font-size: 12px;
}

.c-search-form__submit {
  width: 36px;
  height: 36px;
  background-color: $makemeup_main_accent_color;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 3px !important;
  position: absolute;
  right: 5px;
  top: 7px;
  cursor: pointer;

  .dashicons {
    height: 25px;
    padding-left: 0px;
    color: $color_background_body !important;
    font-size: 1.5em !important;

    &::before {
      color: $color_background_body;
    }

    &:hover {
      &::before {
        color: $makemeup_main_primary_color !important;
        background: transparent !important;
      }
    }
  }
}

.search-field {
  margin-top: 0px !important;
}
