/*------------------------------------*\
  #Copy
\*------------------------------------*/
/* All */
* {
  word-wrap: break-word;
  white-space: normal;
  transition: $global-transition;
}

/* p */
p,
.p {
  font-family: $castpress_font;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  margin-top: 0px;
  margin-bottom: 1.5rem;
  color: $castpress_second_color;
}

.seprator {
  color: $castpress_tertiary_color !important;
}

address {
  color: $castpress_second_color;
}

pre {
  background-color: $castpress_neutral_gray_light_color;
  padding: 8px;
}

dl {
  margin-bottom: 16px;
  color: $castpress_second_color;
}
dt {
  margin-bottom: 16px;
}

dd {
  margin-bottom: 16px;
  line-height: 27px;
}

figcaption {
  color: $castpress_second_color;
}

blockquote {
  border-left: 1px solid $castpress_quaternary_color;
  padding-left: 16px;
  margin-bottom: 64px;
  margin: 0px;
}

code {
  background-color: $castpress_neutral_gray_light_color;
}
