/*------------------------------------*\
  #Copy
\*------------------------------------*/
/* All */
* {
  word-wrap: break-word;
  white-space: normal;
  transition: $global-transition;
}

/* p */
p,
.p {
  font-family: $castpress_font_regular;
  // font-size: 18px;
  font-size: 16px;
  line-height: 25px;
  margin-top: 0px;
  margin-bottom: 1.5rem;
  color: $castpress_second_color;
}

/* span */
span,
.span {
  font-family: $castpress_font_regular;
  font-size: 12px;
  line-height: 15px;
}

.span--sm {
  font-size: 10px;
  line-height: 13px;
}

.span-lh--bg {
  line-height: 20px;
}

.seprator {
  color: $castpress_third_color !important;
}
