/*------------------------------------*\
  #Default Theme fonts 
*-------------------------------------*/
/*
*   Source Serif Pro
*   https://fonts.google.com/specimen/Source+Serif+Pro?query=Source+Serif+Pro&preview.text_type=custom#about
*
*/

@font-face {
  font-family: "SourceSerifPro-regular";
  src: url("../../assets/fonts/source-serif-pro-v10-latin-regular.woff2")
      format("woff2"),
    url("../../assets/fonts/source-serif-pro-v10-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "SourceSerifPro-semibold";
  src: url("../../assets/fonts/source-serif-pro-v10-latin-600.woff2") format("woff2"),
    url("../../assets/fonts/source-serif-pro-v10-latin-600.woff") format("woff");
}
