/*------------------------------------*\
  #Headings
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin: 0px;
  font-weight: normal;
  color: $castpress_headings_color;
}

/* H1 */
h1,
.h1 {
  font-family: $castpress_font_semi-bold;
  font-size: 26px;
  line-height: 32px;
}

/* H2 */
h2,
.h2 {
  font-family: $castpress_font_semi-bold;
  font-size: 21px;
  line-height: 25px;
}

/* H3 */
h3,
.h3 {
  font-family: $castpress_font_regular;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px; // Paragraph Spacing
}

/* H4 */
h4,
.h4 {
  font-family: $castpress_font_regular;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 10px; // Paragraph Spacing
}

/* H5 */
h5,
.h5 {
  font-family: $castpress_font_semi-bold;
  font-size: 14px;
  line-height: 25px;
}

/* H6 */
h6,
.h6 {
  font-family: $castpress_font_semi-bold;
  font-size: 12px;
  letter-spacing: 0.16em;
}
