/*------------------------------------*\
  #Headings
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin: 0px;
  font-weight: normal;
  color: $castpress_headings_color;
}

/* H1 */
h1,
.h1 {
  font-family: $castpress_font_semibold;
  font-size: 26px;
  line-height: 32px;
}

.h1--secondary {
  font-family: $castpress_font_regular;
  font-size: 26px;
  line-height: 32px;
}

.h1-lh--bg {
  line-height: 33px !important;
}
.h1-lh--sm {
  line-height: 25px !important;
}

/* H2 */
h2,
.h2 {
  font-family: $castpress_font_semibold;
  font-size: 21px;
  line-height: 25px;
}

.h2--secondary {
  font-family: $castpress_font_regular;
  font-size: 21px;
  line-height: 25px;
}

/* H3 */
h3,
.h3 {
  font-family: $castpress_font_regular;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px; // Paragraph Spacing
}

.h3--secondary {
  font-family: $castpress_font_semibold;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px; // Paragraph Spacing
}

/* H4 */
h4,
.h4 {
  font-family: $castpress_font_regular;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 10px; // Paragraph Spacing
}

.h4--secondary {
  font-family: $castpress_font_semibold;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 10px; // Paragraph Spacing
}

.h4-lh--bg {
  line-height: 27px !important;
}

.h4-lh--sm {
  line-height: 20px !important;
}

/* H5 */
h5,
.h5 {
  font-family: $castpress_font_semibold;
  font-size: 14px;
  line-height: 25px;
}

.h5--secondary {
  font-family: $castpress_font_regular;
  font-size: 14px;
  line-height: 25px;
}

.h5-lh--sm {
  line-height: 18px !important;
}

/* H6 */
h6,
.h6 {
  font-family: $castpress_font_semibold;
  font-size: 12px;
  letter-spacing: 0.16em;
}

.h6--secondary {
  font-family: $castpress_font_regular;
  font-size: 12px;
  letter-spacing: 0.16em;
}

.font--regular {
  font-family: "SourceSerifPro-regular";
}

.font--semibold {
  font-family: "SourceSerifPro-semibold";
}
