body {
  font-family: $makemeup_font_regular; //Fallback for when companion plugin not installed
  height: 100vh;
  background-color: $color_background_body;
}

body.admin-bar {
  .c-header__search-form {
    right: 135px;
    top: 100px;
  }
}
