/*------------------------------------*\
  #Button ( Primary )
\*------------------------------------*/
button,
.wp-block-button__link,
.btn,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  background-color: $makemeup_fourth_color; //7247ca
  color: $makemeup_neutral_gray_light_color !important;
  border-radius: 4px;
  cursor: pointer;
  transition: $global-transition;
  font-family: $makemeup_font_regular;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 18px;

  &:hover {
    background-color: $makemeup_main_accent_second_color;
    color: #f5f5f7;
  }
}

/*------------------------------------*\
  #Button Secondary 
\*------------------------------------*/
.btn--secondary {
  background-color: $makemeup_neutral_gray_light_color;
  color: $makemeup_main_accent_color !important;

  .dashicons {
    padding-left: 0px;
    width: max-content;
    &::before {
      color: $makemeup_main_accent_color;
    }
  }

  &:hover {
    background-color: $makemeup_main_accent_color;
    color: $makemeup_neutral_gray_light_color !important;

    .dashicons {
      &::before {
        color: $makemeup_neutral_gray_light_color !important;
      }
    }
  }
}

/*------------------------------------*\
  #Button With Arrow
\*------------------------------------*/
// qa-
.btn--arrow {
  padding-bottom: 6px;
  .dashicons {
    padding-left: 4px;
    width: max-content !important;
    font-size: 11px;
    padding-top: 4px;
    &:before {
      color: $color_background_body;
      width: max-content !important;
    }
  }

  &:hover {
    .dashicons {
      &::before {
        color: #f5f5f7;
      }
    }
  }
}

/*------------------------------------*\
  #Button Play
\*------------------------------------*/
// qa-
.btn--play {
  background-color: $makemeup_neutral_gray_light_color;
  color: $makemeup_main_accent_color;
}

/*------------------------------------*\
  #Button Download
\*------------------------------------*/
.btn--download {
  background-color: transparent;
  height: max-content;
  padding: 0px;
  height: 40px;
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: transparent;

    &::after {
      background-color: $makemeup_fourth_color;
    }
  }

  &::after {
    width: 20px;
    height: 20px;
    display: inline-block;
    content: "";
    cursor: pointer;

    -webkit-mask: url("https://api.iconify.design/bx:bxs-download.svg?height=24")
      no-repeat 50% 50%;
    mask: url("https://api.iconify.design/bx:bxs-download.svg?height=24") no-repeat
      50% 50%;

    -webkit-mask-size: cover;
    mask-size: cover;
    margin-right: 10px;
    vertical-align: middle;
    background-color: $makemeup_primary_color;
  }
}

/*------------------------------------*\
  #Button Error
\*------------------------------------*/
.btn--error {
  padding: 11px 22px;
  .c-main__button-arrow {
    font-size: 15px !important;
    padding-left: 0px;
    padding-bottom: 21px !important;
    width: max-content !important;
    vertical-align: bottom;
    &::before {
      color: $color_background_body;
    }
  }

  // hover
  &:hover {
    .c-main__button-arrow {
      &::before {
        color: $makemeup_neutral_gray_light_color !important;
      }
    }
  }
}

.btn--blog-more {
  transition: 0.3s all;
  .dashicons {
    padding-left: 4px;
    width: max-content !important;
    font-size: 11px;
    padding-top: 5px;

    transition: 0.2s all;
    &::before {
      width: max-content !important;
      transition: 0.2s all;
    }
  }
}

/*------------------------------------*\
  #Button Size
\*------------------------------------*/
.btn--sm {
  padding: 8px 14px;
}

/*------------------------------------------*\
  #Wordpress default Player (Default classes)
\*------------------------------------------*/
.mejs-play > button {
  min-width: max-content;
}

.mejs-horizontal-volume-slider {
  min-width: max-content;
}

.mejs-controls {
  * {
    min-width: max-content !important;
  }
}

.mejs-controls .mejs-time-rail .mejs-time-current {
  background: #222222 !important;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: #222222 !important;
}

.mejs-controls .mejs-time-rail .mejs-time-total {
  background: #f5f5f7 !important;
  border-radius: 2px;
}

.mejs-currenttime,
.mejs-duration {
  color: #222222 !important ;
}

.mejs-container,
.mejs-container .mejs-controls,
.mejs-embed,
.mejs-embed body {
  background-color: rgba(133, 133, 133, 0) !important;

  &:focus {
    border: 1px solid #000;
  }
}

.asi-player-icon {
  text-shadow: 1px 1px 1px black;
}
.asi-player-icon {
  color: black !important;
}

.mejs-button > button {
  background-color: transparent;
  background-image: url("../images/mejs-controls.svg") !important;
}

.wp-playlist-dark button:hover,
.wp-playlist-dark button:focus {
  background-color: transparent;
  background-image: url("../images/mejs-controls.svg") !important;
}

.wp-playlist-dark .mejs-controls .mejs-button button:focus {
  outline: 1px solid white;
}

.wp-playlist-dark .mejs-fullscreen-button > button {
  background-position: -80px 0;
}

.wp-playlist-dark .mejs-unfullscreen > button {
  background-position: -100px 0;
}

.wp-playlist-dark .mejs-mute > button {
  background-position: -60px 0;
}

.wp-playlist-dark .mejs-unmute > button {
  background-position: -40px 0;
}

.wp-playlist-dark .mejs-pause > button {
  background-position: -20px 0;
}

.mejs-time.mejs-currenttime-container,
.mejs-time.mejs-duration-container {
  padding-top: 14px;
}
