input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  width: 100%;
  margin-top: 8px;
  color: $castpress_neutral_dark_gray_color;
  border: none;
  border-radius: $global-radius;
  background-color: $castpress_neutral_gray_light_color;

  padding-right: 8px;
  padding-left: 14px;
  padding-top: 13px;
  padding-bottom: 13px;

  font-size: 0.75rem;
  line-height: 27px;

  position: relative;

  &::placeholder {
    color: $castpress_neutral_gray_color;
    opacity: 1;
    font-size: 12px;
    line-height: 27px !important;
    font-weight: 400 !important;
  }

  &:focus {
    color: $castpress_neutral_gray_color;
    outline: $castpress_neutral_gray_color solid 2px;
  }
}

select {
  border: none;
  border-radius: $global-radius;
  padding: 10px 14px;
}

textarea {
  width: 100%;
  min-height: 150px;
  max-width: 100%;
}

input[type="checkbox"] {
  margin: 0px 8px 0px 0px;

  @include media(tablet) {
    margin: 0px 8px 0px 0px;
  }
}

.search-field {
  padding: 10px 30px 10px 14px !important;
}

//qa-
.c-contact-form_title {
  color: #555555 !important;
}
