/*------------------------------------*\
  #Links
\*------------------------------------*/

a,
.a {
  text-decoration: none;
  color: $color_link; //7247ca

  &:hover {
    color: $color_link_hover; //979797
  }

  &:focus {
    color: $color_link_hover;
  }
}
