/*------------------------------------*\
  #Links
\*------------------------------------*/
a,
.a {
  text-decoration: none;
  color: $color_link; //7247ca

  &:hover {
    color: $color_link_hover; //7247ca
    text-decoration: underline;
  }

  &:focus {
    color: $color_link_hover;
    text-decoration: underline;
  }
}
