/*------------------------------------*\
  #Main
\*------------------------------------*/
.c-main {
  min-height: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  padding: 32px 16px 48px 16px;
  @include media(tablet) {
    padding: 72px 0px 48px 0px;
  }
}

/*------------------------------------*\
  #Main Modifier
\*------------------------------------*/
.c-main--home {
  margin-bottom: 16px;
  padding-bottom: 0px;

  @include media(tablet) {
    padding-bottom: 48px;
  }
}

.c-main--blog {
  padding-bottom: 0px;

  @include media(tablet) {
    padding-bottom: 64px;
  }
}

.c-main--single {
  padding-bottom: 0px;
}

.c-main--page {
  padding-bottom: 0px;

  @include media(tablet) {
    padding-bottom: 40px;
  }
}

.c-main--episode {
  padding-bottom: 0px;

  @include media(tablet) {
    padding-bottom: 64px;
  }
}

/*------------------------------------*\
  #Main Content
\*------------------------------------*/

.c-main__header {
  margin-bottom: 40px;
}

.c-main__content {
  width: 100%;
  height: max-content;

  @include media(tablet) {
    width: 670px;
    padding: 0px;
  }
}

.c-main__desc {
  padding-bottom: 24px;
}

.c-main__button-arrow {
  padding-left: 16px;
  font-size: 5px;

  &::before {
    content: "\f345";
    font-size: 15px;
    vertical-align: middle;
    text-align: left;
  }
}

/*------------------------------------*\
  #Main Featured Episode
\*------------------------------------*/

.c-main__entry-title {
  &::first-letter {
    text-transform: uppercase;
  }
}

.dashicons {
  //qa-
  padding-left: 8px;
  font-size: 15px;
  vertical-align: baseline;
}

/*------------------------------------*\
  #Main Error
\*------------------------------------*/
.c-main__error {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include media(tablet) {
    min-height: 50vh;
  }

  .c-main__button-arrow {
    color: $color_background_body;
  }
}

.c-main__error--error {
  .c-main__page-header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .c-main__page-title {
    font-size: 144px;
    line-height: 144px;
    margin-bottom: 24px;
  }

  .c-main__page-content {
    width: 100%;
  }
}
