.c-main {
  min-height: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  padding: 48px 0px;
  @include media(tablet) {
    padding: 96px 0px 24px 0px;
  }
}

.c-main--blog {
  padding-bottom: 48px;

  @include media(tablet) {
    padding-bottom: 64px;
  }
}

.c-main--single {
  padding-bottom: 0px;
}

.c-main__header {
  margin-bottom: 40px;
}

.c-main__content {
  width: calc(100% - 16px);
  height: max-content;
  margin: 0px 16px;

  @include media(tablet) {
    width: 670px;
    padding: 0px;
  }
}

.c-main__error {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include media(tablet) {
    min-height: 50vh;
  }

  .c-main__button-arrow {
    color: $color_background_body;
  }
}

.c-main__error--error {
  .c-main__page-header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .c-main__page-title {
    font-size: 144px;
    line-height: 144px;

    @include media(tablet) {
      // margin-top: 48px;
    }
  }

  .c-main__page-content {
    width: 100%;
  }
}

.c-main__desc {
  padding-bottom: 24px;
}

.c-main__button-arrow {
  padding-left: 16px;
  font-size: 5px;

  &::before {
    content: "\f345";
    font-size: 15px;
    vertical-align: middle;
    text-align: left;
  }
}

.c-main__featured-episode--home {
  .c-single__entry-content {
    display: none;
  }
}

.dashicons {
  padding-left: 8px;
  font-size: 15px !important;
  vertical-align: baseline;
}

.c-main__entry-title {
  &::first-letter {
    text-transform: uppercase;
  }
}
