/*------------------------------------*\
  #Single
\*------------------------------------*/

.c-single {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.c-single--latest-episode {
  margin-bottom: 40px;

  @include media(tablet) {
    margin-bottom: 72px;
  }
}

.c-single__thumbnail {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 39px;
}

.c-single__image {
  width: 180px;
  height: 180px;
}

.c-single__header {
  width: 100%;
  text-align: center;
}

.c-single__title {
  margin-bottom: 14px;

  @include media(tablet) {
    margin-bottom: 8px;
  }
}

.c-single__podcast-audio {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.c-single__audio {
  width: 95%;
}

.c-single__entry-content {
  margin-top: 64px;
  width: 100%;

  @include media(tablet) {
    margin-top: 55px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 39px;
  }

  figure {
    max-width: 100%;
    width: auto !important;
  }

  .mejs-container {
    display: none;
  }
}

.c-single__tags {
  a {
    &::before {
      content: "#";
    }
  }
}

.c-single__transcript {
  width: 100%;
  border: 1px solid $color_background_hr;
  padding: 24px 11px 24px 16px;
  height: max-content;

  @include media(tablet) {
    padding: 24px 24px 0px 24px;
  }
}

.c-single__transcript__sep {
  @include media(mobile-only) {
    display: none;
  }
}

.c-single__transcript__title {
  display: block;

  @include media(mobile-only) {
    font-size: 18px;
    line-height: 23px;
  }
}

h2.c-single__transcript__title {
  margin-bottom: 0px;

  @include media(tablet) {
    display: inline-block;
    margin-bottom: 24px !important;
  }
}

.c-single__transcript__more {
  cursor: pointer;
  color: $castpress_main_accent_second_color !important;

  &:hover {
    color: $castpress_primary_color !important;

    .c-single__transcript__icon {
      &::before {
        color: $castpress_primary_color !important;
      }
    }
  }

  .c-single__transcript__icon {
    vertical-align: middle;
    &::before {
      color: $castpress_main_accent_second_color !important;
    }
  }
}

.c-single__transcript__icon {
  padding-left: 5px;

  &:hover {
    &::before {
      color: $castpress_primary_color !important;
    }
  }
}
.c-single__transcript__more:hover + .c-single__transcript__icon::before {
  color: $castpress_primary_color !important;
}

.c-single__transcript__more.h2 {
  @include media(mobile-only) {
    font-size: 18px;
    line-height: 25px;
  }
}

.c-single__transcript__content {
  width: 100%;
  transform-origin: top;
  height: 0px;
  max-height: 0px;

  border-left: 1px solid $color_background_hr;
  border-right: 1px solid $color_background_hr;
  border-bottom: 1px solid transparent;
  .simplebar-track {
    display: none;
  }

  .simplebar-wrapper {
    visibility: hidden;
  }
}

.c-single__transcript__context {
  visibility: hidden;
  opacity: 0;
  transition-delay: 0s;
  padding: 10px;

  @include media(tablet) {
    padding: 0px;
  }
}

.c-single__transcript__row {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 24px;
  }
}

.c-single__transcript__wrapper {
  max-height: 100%;
  padding-right: 15px;
}

.c-single__transcript__content.is-open {
  height: 352px;
  max-height: 352px;
  display: block;
  border-bottom: 1px solid $color_background_hr;

  padding: 8px;

  @include media(tablet) {
    padding: 24px;
  }
  .c-single__transcript__context {
    visibility: visible;
    opacity: 1;
  }

  .simplebar-track {
    display: block;
  }

  .simplebar-wrapper {
    visibility: visible;
  }
}

.c-single__tags {
  padding-top: 48px;
}

.c-single__tag {
  padding-right: 24px;
  color: $castpress_neutral_dark_gray_color !important;

  &:hover {
    color: $castpress_main_accent_color !important;
  }
}
