/*------------------------------------*\
  #Single
\*------------------------------------*/

.c-single {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.c-single--latest-episode {
  margin-bottom: 40px;

  @include media(tablet) {
    margin-bottom: 72px;
  }
}

.c-single__thumbnail {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 39px;
}

.c-single__image {
  width: 180px;
  height: 180px;

  img {
    filter: brightness(1);
  }
}

.c-single__header {
  width: 100%;
  text-align: center;
}

.c-single__title {
  margin-bottom: 14px;

  @include media(tablet) {
    margin-bottom: 8px;
  }
}

.c-single__entry-content {
  margin-top: 64px;

  width: 100%;

  @include media(tablet) {
    margin-top: 96px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 39px;
  }
}

.c-single__tags {
  a {
    &::before {
      content: "#";
    }
  }
}

.c-single__transcript {
  width: 100%;
  border: 1px solid $color_background_hr;
  padding: 24px 10px 24px 15px;
  height: max-content;

  @include media(tablet) {
    padding: 24px 24px 0px 24px;
  }
  .dashicons {
    vertical-align: text-top;
    &::before {
      color: $makemeup_fourth_color !important;
    }
  }

  &:hover {
    .dashicons {
      &::before {
        color: $makemeup_primary_color !important;
      }
    }
  }
}

.c-single__transcript__title {
  display: inline-block;
  margin-bottom: 0px !important;

  @include media(tablet) {
    margin-bottom: 24px !important;
  }
}

.c-single__transcript__more {
  cursor: pointer;

  &:hover {
    color: $makemeup_primary_color !important; //qa-
  }
}

.c-single__transcript__content {
  width: 100%;

  display: none;
  transform-origin: top;
}

.c-single__transcript__context {
  visibility: hidden;
  opacity: 0;
}

.c-single__transcript__row {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 24px;
  }
}

.c-single__transcript__wrapper {
  // overflow: auto;
  max-height: 100%;
  padding-right: 15px;
}

.c-single__transcript__content.is-open {
  border-left: 1px solid $color_background_hr;
  border-right: 1px solid $color_background_hr;
  border-bottom: 1px solid $color_background_hr;

  height: 352px;
  max-height: 352px;
  display: block;
  padding: 10px;

  @include media(tablet) {
    padding: 24px;
  }
  .c-single__transcript__context {
    visibility: visible;
    opacity: 1;
  }
}
