/*------------------------------------*\
  #Header
\*------------------------------------*/

.c-header {
  width: 100%;
  padding-top: 23px;
  padding-bottom: 24px;
  display: flex;
  border-bottom: 1px solid $castpress_neutral_gray_light_second_color;
  background-color: #ffffff;

  @include media(tablet) {
    padding-top: 38.5px;
    padding-bottom: 38.5px;
  }
}

.c-header__main {
  width: 100%;
  min-height: 29px;
  padding: 0px 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  transition: height 0.5s;
  height: 0px;

  @include media(tablet) {
    padding: 0px 150px;
    overflow: visible;
  }
}

.c-header__menu {
  display: block;
  background-color: transparent !important;
  border: none;
  position: relative;
  width: max-content;
  min-width: 0px;
  height: max-content;
  padding: 8px 12px;
  margin-top: 5px;

  &::before {
    height: 5px;
    border-bottom: 1px solid #000;
    top: 10px;
    left: 0;
    transform-origin: top left;
  }

  &::after {
    height: 0;
    border-bottom: 1px solid #000;
    bottom: 10px;
    left: 0;
    transform-origin: bottom left;
  }

  @include media(tablet) {
    display: none;
  }
}

.c-header__menu::before,
.c-header__menu::after {
  width: 100%;
  content: "";
  position: absolute;
  border-color: #000;
  display: block;
  transition: transform 700ms cubic-bezier(0.75, 0.01, 0.07, 0.99);
  will-change: transform;
}

.c-header__branding {
  flex-grow: 2;

  img {
    max-height: 50px;
    object-fit: contain;
  }
}

.c-header__navigation {
  width: 100%;
  display: block;

  @include media(tablet) {
    visibility: visible;
    opacity: 1;
    display: block;
    width: max-content;
    margin-top: 10px;
  }
}

.c-header__title {
  a {
    color: $castpress_primary_color;
    &:hover {
      text-decoration: none;
      color: $castpress_quaternary_color;
    }

    &:focus {
      text-decoration: none;
    }
  }
}

.c-header__search {
  background-color: transparent;
  padding-left: 39px;
  display: none;

  &:hover {
    background-color: transparent;
  }

  @include media(tablet) {
    display: block;
  }
}

.c-header__search-icon {
  background-color: transparent;

  &::before {
    content: " ";
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
    -webkit-mask: url(https://api.iconify.design/bx:bx-search-alt-2.svg)
      no-repeat 50% 50%;
    mask: url(https://api.iconify.design/bx:bx-search-alt-2.svg) no-repeat 50%
      50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    vertical-align: middle;
    background-color: $castpress_primary_color;
    margin-top: 5px;
  }

  &:hover {
    background-color: transparent;
  }
}

.c-header__search-form {
  display: none;
  position: absolute;
  right: 155px;
  top: 90px;

  .search-field {
    width: 315px;
  }

  input[type="search"] {
    &::placeholder {
      color: $castpress_second_color;
      font-size: 12px;
      line-height: 15px;
    }
  }
}

.custom-logo-link {
  width: 89px;
  height: max-content;
  padding-top: 5px;

  @include media(tablet) {
    padding-top: 0px;
  }
}

/*------------------------------------*\
  #toggle
\*------------------------------------*/
.c-header__main.toggled {
  .c-header__menu {
    &::before {
      transform: rotate(45deg) translate(-5px, -15px);
    }
    &::after {
      transform: rotate(-45deg) translate(-5px, 10px);
    }
  }

  .c-header__navigation {
    display: block;
  }

  .c-nav {
    display: block;
  }
}

.c-header__search.toggled {
  .c-header__search-form {
    display: block;

    animation: fadeInDown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  .c-header__search-icon {
    &::before {
      width: 20px;
      height: 25px;
      display: inline-block;
      content: " ";
      cursor: pointer;
      -webkit-mask: url(https://api.iconify.design/clarity:window-close-line.svg?height=16)
        no-repeat 50% 50%;
      mask: url(https://api.iconify.design/clarity:window-close-line.svg?height=16)
        no-repeat 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
      vertical-align: middle;
      background-color: $castpress_primary_color;
      margin-top: 0px;
    }
  }
}

/* WordPress Default */
.custom-logo-link {
  display: inline-block;
}
