/*------------------------------------*\
  #Caption block
\*------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption-text {
  padding-bottom: 8px;
}
