/*------------------------------------*\
  #Animations
\*------------------------------------*/

/* Menu Animation  */
@keyframes menuOpen {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes menuOpen {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

/* Transcript Animation  */
@keyframes transcript {
  0% {
    display: block;
  }

  5% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes transcript {
  0% {
    display: block;
  }

  5% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

/* Arrow to right animation  */
@keyframes arrowRight {
  0% {
    right: 13px;
  }

  100% {
    right: 6px;
  }
}
@-webkit-keyframes arrowRight {
  0% {
    right: 13px;
  }

  100% {
    right: 6px;
  }
}

/* Arrow to right back animation  */

@keyframes arrowRightBack {
  0% {
    right: 6px;
  }

  100% {
    right: 13px;
  }
}
@-webkit-keyframes arrowRightBack {
  0% {
    right: 6px;
  }

  100% {
    right: 13px;
  }
}

/* Arrow to right back animation  */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Fadein Up */

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* Fade in down */
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
