/*------------------------------------*\
  #Animations
\*------------------------------------*/

/* Menu Animation  */
@keyframes menuOpen {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes menuOpen {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

/* Transcript Animation  */
@keyframes transcript {
  0% {
    display: block;
  }

  5% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes transcript {
  0% {
    display: block;
  }

  5% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}
