/*------------------------------------*\
  #Colors
\*------------------------------------*/
// kirki variables
$castpress_primary_color: var(--castpress_primary-color); //222222
$castpress_second_color: var(--castpress_second-color); //555555
$castpress_tertiary_color: var(--castpress_tertiary-color); //979797
$castpress_quaternary_color: var(--castpress_quaternary-color); //7247ca

$castpress_headings_color: var(--castpress_headings-color); //222222

// Main color
$castpress_main_primary_color: #222222;
$castpress_main_accent_color: #7247ca;
$castpress_main_accent_second_color: #58379b;

// Neutral colors
$castpress_neutral_dark_gray_color: #555555;
$castpress_neutral_gray_color: #979797;
$castpress_neutral_gray_light_color: #f5f5f7;
$castpress_neutral_gray_light_second_color: #eaeaee;
$castpress_service_error_color: #ff3636;

// background
$color_background_body: #ffffff;
$color_background_screen: #f1f1f1;
$color_background_hr: #eaeaee;
$color_background_button: #e6e6e6;
$color_background_pre: #eee;
$color_background_ins: #fff9c0;

// text
$color_text_screen: #21759b;
$color_text_input: #666;
$color_text_input_focus: rgb(65, 65, 65);

// link
$color_link: $castpress_quaternary_color; //7247ca
$color_link_secondary: $castpress_primary_color; //222222
$color_link_tertiary: $castpress_tertiary_color; //979797

// link hover
$color_link_visited: $castpress_main_accent_color;

$color_link_hover: $castpress_quaternary_color;
$color_link_hover_secondary: $castpress_quaternary_color;
$color_link_hover_tertiary: $castpress_quaternary_color;

// button color
$castpress_button_primary_color: $castpress_quaternary_color;
$castpress_button_second_color: $castpress_neutral_gray_light_color;

// button hover color
$castpress_button_primary_hover_color: $castpress_neutral_gray_light_color;
$castpress_button_second_hover_color: $castpress_quaternary_color;
