// kirki variables
$makemeup_primary_color: var(--primary-color); //222222
$makemeup_second_color: var(--second-color); //555555
$makemeup_third_color: var(--third-color); //979797
$makemeup_fourth_color: var(--fourth-color); //7247ca

// Main color
$makemeup_main_primary_color: #222222;
$makemeup_main_accent_color: #7247ca;

// Neutral colors
$makemeup_neutral_dark_gray_color: #555555;
$makemeup_neutral_gray_color: #979797;
$makemeup_neutral_gray_light_color: #f5f5f7;
$makemeup_neutral_gray_light_second_color: #eaeaee;
$makemeup_service_error_color: #ff3636;

// background
$color_background_body: #ffffff;
$color_background_screen: #f1f1f1;
$color_background_hr: #eaeaee;
$color_background_button: #e6e6e6;
$color_background_pre: #eee;
$color_background_ins: #fff9c0;

// text
$color_text_screen: #21759b;
$color_text_input: #666;
$color_text_input_focus: rgb(65, 65, 65);

// link
$color_link: $makemeup_main_accent_color; //7247ca
$color_link_secondary: $makemeup_primary_color; //222222
$color_link_third: $makemeup_neutral_gray_color; //979797

// link hover
$color_link_visited: $makemeup_main_accent_color;
$color_link_hover: $makemeup_neutral_gray_color;
$color_link_hover_secondary: $makemeup_main_accent_color;
$color_link_hover_third: $makemeup_main_primary_color;

// button color
$makemeup_button_primary_color: $makemeup_fourth_color;
$makemeup_button_second_color: $makemeup_neutral_gray_light_color;

// button hover color
$makemeup_button_primary_hover_color: $makemeup_neutral_gray_light_color;
$makemeup_button_second_hover_color: $makemeup_fourth_color;
