// Fonts
@font-face {
  font-family: "SourceSerifPro-regular";
  src: url("../../assets/fonts/source-serif-pro-v11-latin-regular.woff2")
      format("woff2"),
    url("../../assets/fonts/source-serif-pro-v11-latin-regular.woff")
      format("woff");
  src: url("../../assets/fonts/source-serif-pro-v11-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../assets/fonts/source-serif-pro-v11-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../../assets/fonts/source-serif-pro-v11-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../assets/fonts/source-serif-pro-v11-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../../assets/fonts/source-serif-pro-v11-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../assets/fonts/source-serif-pro-v11-latin-regular.svg#RedHatDisplay")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "SourceSerifPro-semibold";

  src: url("../../assets/fonts/source-serif-pro-v11-latin-600.woff2")
      format("woff2"),
    url("../../assets/fonts/source-serif-pro-v11-latin-600.woff") format("woff");
  src: url("../../assets/fonts/source-serif-pro-v11-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../../assets/fonts/source-serif-pro-v11-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../../assets/fonts/source-serif-pro-v11-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../../assets/fonts/source-serif-pro-v11-latin-600.woff")
      format("woff"),
    /* Modern Browsers */
      url("../../assets/fonts/source-serif-pro-v11-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../../assets/fonts/source-serif-pro-v11-latin-600.svg#RedHatDisplay")
      format("svg"); /* Legacy iOS */
}

$castpress_font_regular: "SourceSerifPro-regular";
$castpress_font_semi-bold: "SourceSerifPro-semibold";
