/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Abstracts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Mixins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
/**
 * Root Media Query Variables
 */
:root {
  --global--spacing-unit: 20px;
  --global--spacing-horizontal: 15px;
  --responsive--spacing-horizontal: calc(2 * var(--global--spacing-horizontal));
  --responsive--aligndefault-width: 100%;
  --responsive--alignwide-width: 100%;
  --responsive--alignfull-width: 100%;
  --responsive--alignwide-width-multiplier: calc(
    16 * var(--global--spacing-horizontal)
  );
  --responsive--alignright-margin: var(--global--spacing-horizontal);
  --responsive--alignleft-margin: var(--global--spacing-horizontal); }

@media only screen and (min-width: 720px) {
  :root {
    --responsive--aligndefault-width: calc(
      720px - var(--responsive--spacing-horizontal)
    );
    --responsive--alignwide-width: calc(
      720px - var(--responsive--spacing-horizontal)
    );
    --responsive--alignright-margin: calc(
      0.5 * (100vw - var(--responsive--aligndefault-width))
    );
    --responsive--alignleft-margin: calc(
      0.5 * (100vw - var(--responsive--aligndefault-width))
    ); } }

@media only screen and (min-width: 980px) {
  :root {
    --responsive--aligndefault-width: calc(
      980px - var(--responsive--spacing-horizontal)
    );
    --responsive--alignwide-width: calc(
      1140px - var(--responsive--spacing-horizontal)
    );
    --responsive--alignright-margin: calc(
      0.5 * (100vw - var(--responsive--aligndefault-width))
    );
    --responsive--alignleft-margin: calc(
      0.5 * (100vw - var(--responsive--aligndefault-width))
    ); } }

@media only screen and (min-width: 1140px) {
  :root {
    --responsive--aligndefault-width: calc(
      980px - var(--responsive--spacing-horizontal)
    );
    --responsive--alignwide-width: calc(
      1140px - var(--responsive--spacing-horizontal)
    );
    --responsive--alignright-margin: calc(
      0.5 * (100vw - var(--responsive--aligndefault-width))
    );
    --responsive--alignleft-margin: calc(
      0.5 * (100vw - var(--responsive--aligndefault-width))
    ); } }

@media only screen and (min-width: 1200px) {
  :root {
    --responsive--aligndefault-width: calc(
      1140px - var(--responsive--spacing-horizontal)
    );
    --responsive--alignwide-width: calc(
      1200px - var(--responsive--spacing-horizontal)
    );
    --responsive--alignright-margin: calc(
      0.5 * (100vw - var(--responsive--aligndefault-width))
    );
    --responsive--alignleft-margin: calc(
      0.5 * (100vw - var(--responsive--aligndefault-width))
    ); } }

@media only screen and (min-width: 1400px) {
  :root {
    --responsive--aligndefault-width: calc(
      1140px - var(--responsive--spacing-horizontal)
    );
    --responsive--alignwide-width: calc(
      1200px - var(--responsive--spacing-horizontal)
    );
    --responsive--alignright-margin: calc(
      0.5 * (100vw - var(--responsive--aligndefault-width))
    );
    --responsive--alignleft-margin: calc(
      0.5 * (100vw - var(--responsive--aligndefault-width))
    ); } }

/**
 * Extends
 */
.default-max-width {
  max-width: var(--responsive--aligndefault-width);
  margin-left: auto;
  margin-right: auto; }

.wide-max-width {
  max-width: var(--responsive--alignwide-width);
  margin-left: auto;
  margin-right: auto; }

@media only screen and (min-width: 720px) {
  .full-max-width {
    max-width: var(--responsive--alignfull-width);
    width: auto;
    margin-left: auto;
    margin-right: auto; } }

.wide-max-width,
.alignwide {
  max-width: var(--responsive--alignwide-width);
  margin-left: auto;
  margin-right: auto; }

.full-max-width,
.wp-block-group .wp-block-group__inner-container > *.alignfull,
.alignfull,
.singular .post-thumbnail {
  max-width: calc(100% + (2 * var(--global--spacing-horizontal)));
  width: calc(100% + (2 * var(--global--spacing-horizontal)));
  margin-left: calc(-1 * var(--global--spacing-horizontal));
  margin-right: auto; }

.wp-block-code {
  padding: 16px 16px; }

@media only screen and (min-width: 482px) {
  .full-max-width,
  .alignfull,
  .singular .post-thumbnail {
    max-width: var(--responsive--alignfull-width);
    width: auto;
    margin-left: auto;
    margin-right: auto; } }

.alignwide [class*="inner-container"] > .alignwide,
.alignfull [class*="inner-container"] > .alignwide {
  margin-left: auto;
  margin-right: auto;
  width: var(--responsive--alignwide-width);
  max-width: var(--responsive--alignfull-width); }

.entry-content > .alignleft {
  /*rtl:ignore*/
  margin-left: 0;
  /*rtl:ignore*/
  margin-right: var(--responsive--spacing-horizontal); }

@media only screen and (min-width: 482px) {
  .entry-content > .alignleft {
    /*rtl:ignore*/
    margin-left: var(--responsive--alignleft-margin);
    /*rtl:ignore*/
    margin-right: var(--global--spacing-horizontal); } }

.entry-content > .alignright {
  /*rtl:ignore*/
  margin-left: var(--responsive--spacing-horizontal);
  /*rtl:ignore*/
  margin-right: 0; }

@media only screen and (min-width: 482px) {
  .entry-content > .alignright {
    /*rtl:ignore*/
    margin-left: var(--global--spacing-horizontal);
    /*rtl:ignore*/
    margin-right: var(--responsive--alignright-margin); } }

/**
 * Output
 */
/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

/*--------------------------------------------------------------
# Objects
--------------------------------------------------------------*/
/* block
--------------------------------------------- */
.o-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

/* layout
--------------------------------------------- */
/* Images
--------------------------------------------- */
img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  object-position: center; }

/*--------------------------------------------------------------
# components
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# components
--------------------------------------------------------------*/
.c-header {
  width: 100%;
  padding-top: 23px;
  padding-bottom: 24px;
  display: flex;
  border-bottom: 1px solid #eaeaee;
  background-color: white; }

.c-header__main {
  width: 100%;
  min-height: 29px;
  padding: 0px 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (min-width: 980px) {
    .c-header__main {
      padding: 0px 150px; } }

.c-header__menu {
  display: block;
  background-color: transparent;
  border: none;
  position: relative;
  width: max-content;
  min-width: 0px;
  height: max-content; }
  @media only screen and (min-width: 980px) {
    .c-header__menu {
      display: none; } }
  .c-header__menu:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    border: 1px solid #000000;
    top: 0;
    left: 0; }
  .c-header__menu:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    border: 1px solid #000000;
    bottom: 0;
    left: 0; }

.c-header__navigation {
  width: 100%;
  max-height: 0px;
  visibility: hidden;
  opacity: 0; }
  @media only screen and (min-width: 980px) {
    .c-header__navigation {
      visibility: visible;
      opacity: 1;
      width: max-content;
      max-height: max-content; } }

/*------------------------------------*\
  #navigation
\*------------------------------------*/
.c-nav {
  width: 100%; }
  @media only screen and (min-width: 980px) {
    .c-nav {
      display: block; } }

.s-nav {
  padding: 0px;
  margin: 0px;
  margin-top: 32px; }
  @media only screen and (min-width: 980px) {
    .s-nav {
      margin-top: 0px; } }
  .s-nav li {
    display: block;
    margin-bottom: 16px; }
    @media only screen and (min-width: 980px) {
      .s-nav li {
        display: inline-block;
        margin-left: 39px;
        margin-bottom: 0px; } }

.menu-item a {
  text-decoration: none;
  text-transform: uppercase; }

.sub-menu {
  display: none; }

/*------------------------------------*\
  #toggle
\*------------------------------------*/
.c-header__main.toggled .c-header__menu::before {
  content: " ";
  transform: rotate(50deg);
  top: 50%; }

.c-header__main.toggled .c-header__menu::after {
  content: " ";
  transform: rotate(-50deg);
  bottom: 40%; }

.c-header__main.toggled .c-header__navigation {
  max-height: max-content;
  visibility: visible;
  opacity: 1; }

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
.c-main {
  min-height: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  padding: 48px 0px; }
  @media only screen and (min-width: 980px) {
    .c-main {
      padding: 96px 0px 64px 0px; } }

.c-main__header {
  margin-bottom: 40px; }

.c-main__content {
  width: calc(100% - 16px);
  height: max-content;
  margin: 0px 16px; }
  @media only screen and (min-width: 980px) {
    .c-main__content {
      width: 670px;
      padding: 0px; } }

.c-main__error {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  @media only screen and (min-width: 980px) {
    .c-main__error {
      min-height: 50vh; } }

.c-main__error--error .c-main__page-header {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.c-main__error--error .c-main__page-title {
  font-size: 144px;
  line-height: 144px; }
  @media only screen and (min-width: 980px) {
    .c-main__error--error .c-main__page-title {
      margin-top: 48px; } }

.c-main__error--error .c-main__page-content {
  width: 100%; }

.c-main__desc {
  padding-bottom: 24px; }

.c-main__button-arrow {
  padding-left: 16px;
  font-size: 5px; }
  .c-main__button-arrow::before {
    content: "\f345";
    font-size: 15px;
    vertical-align: middle;
    text-align: left; }

.dashicons {
  padding-left: 8px;
  font-size: 15px !important;
  vertical-align: baseline; }

/*--------------------------------------------------------------
# SideBar
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Social Share
--------------------------------------------------------------*/
.c-social-share {
  width: 100%;
  height: 50px; }

/*--------------------------------------------------------------
# Search form
--------------------------------------------------------------*/
.c-episode__featured {
  width: 100%;
  background-color: darkorchid; }

.c-episode__head {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: lightblue; }
  @media only screen and (min-width: 980px) {
    .c-episode__head {
      height: 180px;
      justify-content: flex-start; } }

.c-episode__image {
  width: 180px;
  height: 100%; }

.c-episode__context {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 16px;
  background-color: lightcoral; }
  @media only screen and (min-width: 980px) {
    .c-episode__context {
      width: calc(100% - 180px);
      padding-top: 0px;
      padding-left: 39px;
      text-align: left; } }

.c-episode__category {
  padding-bottom: 8px; }

.c-episode__title {
  margin-bottom: 24px; }

/**
 *
 *
 *    
 * 
 **/
.c-episode__palyer {
  width: 100%;
  position: relative;
  height: max-content;
  display: flex;
  justify-content: center;
  background-color: darkviolet; }

.c-post {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 39px; }
  @media only screen and (min-width: 980px) {
    .c-post {
      margin-bottom: 24px; } }

.c-post__header {
  width: 100%;
  color: var(--primary-color); }
  .c-post__header::first-letter {
    text-transform: uppercase; }
  @media only screen and (min-width: 980px) {
    .c-post__header {
      width: calc(100% - 180px);
      padding-left: 39px; } }

.c-post__content {
  font-size: 18px;
  color: #555555; }
  .c-post__content li {
    margin-bottom: 8px; }

.c-post__title {
  padding-bottom: 16px; }
  .c-post__title a {
    color: var(--primary-color); }

.c-post__date a {
  color: var(--primary-color); }

.c-post__entry-meta {
  padding-bottom: 16px; }
  @media only screen and (min-width: 980px) {
    .c-post__entry-meta {
      padding-bottom: 39px; } }

.c-post__thumbnail {
  width: 180px;
  height: 180px;
  max-height: 180px;
  margin-bottom: 16px;
  border-radius: 4px; }
  @media only screen and (min-width: 980px) {
    .c-post__thumbnail {
      margin-bottom: 0px; } }

.c-post__read-more {
  color: var(--fourth-color); }

.c-post__page-links {
  margin: 16px 0px 0px 0px; }

.c-single {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 39px; }
  @media only screen and (min-width: 980px) {
    .c-single {
      margin-bottom: 24px; } }

.c-single__thumbnail {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 39px; }

.c-single__image {
  width: 180px;
  height: 180px; }

.c-single__header {
  width: 100%;
  text-align: center; }

.c-single__title {
  margin-bottom: 14px; }
  @media only screen and (min-width: 980px) {
    .c-single__title {
      margin-bottom: 8px; } }

.c-single__entry-content {
  margin-top: 64px; }
  @media only screen and (min-width: 980px) {
    .c-single__entry-content {
      margin-top: 96px; } }

.c-single__tags a::before {
  content: "#"; }

.c-footer {
  background-color: #ffffff;
  min-height: 105px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid #eaeaee;
  color: white;
  line-height: 50px;
  padding: 0 17px; }
  @media only screen and (min-width: 980px) {
    .c-footer {
      margin-top: auto; } }

.c-footer__context {
  color: var(--primary-color); }

.c-footer__link {
  color: var(--second-color); }

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
body {
  font-family: "SourceSerifPro-regular";
  height: 100vh;
  background-color: #ffffff; }

/* My link */
a {
  text-decoration: none;
  color: #7247ca; }
  a:hover {
    color: #979797; }
  a:focus {
    color: #979797; }

.a--secondary {
  color: var(--primary-color); }
  .a--secondary:hover {
    color: #7247ca; }

ul {
  margin: 0px;
  padding: 0px;
  margin-left: 20px;
  margin: 26px 0px 16px 20px; }

li {
  line-height: 25px; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  background-color: var(--fourth-color);
  color: #f5f5f7;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  font-family: "SourceSerifPro-regular";
  min-width: 133px;
  height: 40px; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    background-color: #f5f5f7;
    color: var(--fourth-color); }

.wp-block-gallery {
  width: 100%;
  margin-left: 0px;
  max-width: 100%; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/*------------------------------------*\
  #Default Theme fonts 
*-------------------------------------*/
/*
*   Source Serif Pro
*   https://fonts.google.com/specimen/Source+Serif+Pro?query=Source+Serif+Pro&preview.text_type=custom#about
*
*/
@font-face {
  font-family: "SourceSerifPro-regular";
  src: url("../../assets/fonts/source-serif-pro-v10-latin-regular.woff2") format("woff2"), url("../../assets/fonts/source-serif-pro-v10-latin-regular.woff") format("woff"); }

@font-face {
  font-family: "SourceSerifPro-semibold";
  src: url("../../assets/fonts/source-serif-pro-v10-latin-600.woff2") format("woff2"), url("../../assets/fonts/source-serif-pro-v10-latin-600.woff") format("woff"); }

/*------------------------------------*\
  #Headings
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin: 0px;
  font-weight: normal;
  color: #222222; }

/* H1 */
h1,
.h1 {
  font-family: "SourceSerifPro-semibold";
  font-size: 26px;
  line-height: 32px; }

.h1-lh--bg {
  line-height: 33px; }

.h1-lh--sm {
  line-height: 25px; }

/* H2 */
h2,
.h2 {
  font-family: "SourceSerifPro-semibold";
  font-size: 21px;
  line-height: 25px; }

/* H3 */
h3,
.h3 {
  font-family: "SourceSerifPro-regular";
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px; }

/* H4 */
h4,
.h4 {
  font-family: "SourceSerifPro-regular";
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 10px; }

.h4-lh--bg {
  line-height: 27px; }

.h4-lh--sm {
  line-height: 20px; }

/* H5 */
h5,
.h5 {
  font-family: "SourceSerifPro-semibold";
  font-size: 14px;
  line-height: 25px; }

.h5-lh--sm {
  line-height: 18px; }

/* H6 */
h6,
.h6 {
  font-family: "SourceSerifPro-semibold";
  font-size: 12px;
  letter-spacing: 0.16em; }

.font--regular {
  font-family: "SourceSerifPro-regular"; }

.font--semibold {
  font-family: "SourceSerifPro-semibold"; }

/*------------------------------------*\
  #Copy
\*------------------------------------*/
/* All */
* {
  word-wrap: break-word;
  white-space: normal;
  transition: all 300ms ease-in-out; }

/* p */
p,
.p {
  font-family: "SourceSerifPro-regular";
  font-size: 18px;
  line-height: 25px;
  margin-top: 0px;
  margin-bottom: 1.5rem;
  color: #555555; }

/* span */
span,
.span {
  font-family: "SourceSerifPro-regular";
  font-size: 12px;
  line-height: 15px; }

.span--sm {
  font-size: 10px;
  line-height: 13px; }

.span-lh--bg {
  line-height: 20px; }
