/*------------------------------------*\
  #Comments Form 
\*------------------------------------*/
.comments-area {
  //   padding-top: 48px;
  border-top: 1px solid $color_background_hr;
  ol {
    margin: 0px;
  }
}

.comment-respond {
  padding-top: 48px;
  padding-bottom: 0px;
  @include media(tablet) {
    padding-bottom: 48px;
  }
}

.c-comments__desc {
  color: $castpress_tertiary_color !important; //qa-
  margin-bottom: 24px;

  @include media(tablet) {
    margin-bottom: 39px;
  }
}

.c-comment__cookie {
  display: flex;
  margin-top: 24px;
  margin-bottom: 39px;

  @include media(tablet) {
    margin-top: 23px;
  }
}

.comments-title {
  width: 100%;
  border-top: 1px solid $color_background_hr;
  padding-top: 48px;
  margin-top: 48px;

  @include media(tablet) {
    padding-top: 68px;
    margin-top: 0px;
  }
}

#cancel-comment-reply-link {
  margin-left: 8px;
}

/*------------------------------------*\
  #Comments List
\*------------------------------------*/
.comment-list {
  .comment-respond {
    margin-bottom: 48px;

    @include media(tablet) {
      margin-bottom: 0px;
    }
  }
}

.children {
  padding-left: 80px;

  &:nth-child(n + 2) {
    .children {
      padding-left: 40px;
      @include media(mobile-only) {
        padding-left: 0px;
      }
    }
  }
}

.comment {
  ol {
    list-style-type: none;
  }
}

.comment-body {
  padding-bottom: 39px;
}

.comment.depth-1 {
  border-bottom: 1px solid $color_background_hr;
  margin-top: 24px;

  @include media(tablet) {
    margin-top: 39px;
  }

  &:last-child {
    border-bottom: none;
  }
}
.c-comments__title {
  color: $castpress_primary_color;
  font-family: $castpress_font !important;
}

.comment-reply-link {
  padding-top: 16px;
  color: $castpress_tertiary_color;

  text-decoration: none !important;
  font-size: 14px;
  line-height: 18px;

  &:hover {
    color: $castpress_primary_color;
  }

  &::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);'%3E%3Cpath d='M12 9.059V6.5a1.001 1.001 0 0 0-1.707-.708L4 12l6.293 6.207a.997.997 0 0 0 1.414 0A.999.999 0 0 0 12 17.5v-2.489c2.75.068 5.755.566 8 3.989v-1c0-4.633-3.5-8.443-8-8.941z' fill='%23626262'/%3E%3Crect x='0' y='0' width='24' height='24' fill='rgba(0, 0, 0, 0)' /%3E%3C/svg%3E");
    cursor: pointer;
    vertical-align: top;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 28px 28px;
    margin-right: 12px;
  }
}

.comment-list {
  padding-left: 0px;
  list-style-type: none;
}

.comment-meta {
  width: 100%;
  display: flex;
}

.comment-avatar {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.comment-header {
  margin-bottom: 16px;
}

.comment-content {
  width: calc(100% - 50px);
  padding-left: 24px;
}

.comment-author {
  display: inline-block;
  padding-right: 16px;
  margin-bottom: 8px;
  color: $castpress_second_color;
  text-transform: capitalize;

  @include media(tablet) {
    margin-bottom: 0px;
  }

  a {
    color: $castpress_second_color;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.bypostauthor {
  display: block;
}

.comment-date {
  color: $castpress_tertiary_color;
}

.time {
  color: $castpress_tertiary_color;
  display: block;

  @include media(tablet) {
    display: inline-block;
  }
}

.logged-in-as {
  a {
    color: $castpress_tertiary_color; //qa-
    font-size: 14px; //qa-
    line-height: 18px; //qa-

    &:hover {
      color: $castpress_primary_color;
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
    }
  }
}

.comment-form-comment,
.comment-form-author,
.comment-form-email,
.comment-form-url {
  color: $castpress_second_color !important; //qa
}

.form-submit {
  margin-bottom: 0px;
}

.comment-form-arrow {
  .dashicons {
    padding-left: 4px;
    width: max-content !important;
    font-size: 11px;
    padding-top: 4px;
    height: 0px !important;

    &::before {
      color: $color_background_body;
    }
  }

  &:hover {
    .dashicons {
      &::before {
        color: $castpress_neutral_gray_light_color !important;
      }
    }
  }
}
