/*------------------------------------*\
  #Header
\*------------------------------------*/

.c-header {
  width: 100%;
  padding-top: 23px;
  padding-bottom: 24px;
  display: flex;
  border-bottom: 1px solid $castpress_neutral_gray_light_second_color;
  background-color: #ffffff;

  @include media(tablet) {
    padding-top: 38.5px;
    padding-bottom: 38.5px;
  }
}

.c-header__main {
  width: 100%;
  min-height: 29px;
  padding: 0px 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  transition: height 0.5s;
  height: 0px;

  @include media(tablet) {
    padding: 0px 150px;
    overflow: visible;
  }
}

.c-header__menu {
  display: block;
  background-color: transparent !important;
  border: none;
  position: relative;
  width: max-content;
  min-width: 0px;
  height: max-content;
  padding: 8px 12px;
  margin-top: 5px;

  &::before {
    height: 5px;
    border-bottom: 1px solid #000;
    top: 10px;
    left: 0;
    transform-origin: top left;
  }

  &::after {
    height: 0;
    border-bottom: 1px solid #000;
    bottom: 10px;
    left: 0;
    transform-origin: bottom left;
  }

  @include media(tablet) {
    display: none;
  }
}

.c-header__menu::before,
.c-header__menu::after {
  width: 100%;
  content: "";
  position: absolute;
  border-color: #000;
  display: block;
  transition: transform 700ms cubic-bezier(0.75, 0.01, 0.07, 0.99);
  will-change: transform;
}

.c-header__branding {
  flex-grow: 2;

  img {
    max-height: 50px;
    object-fit: contain;
  }
}

.c-header__navigation {
  width: 100%;
  display: block;

  @include media(tablet) {
    visibility: visible;
    opacity: 1;
    display: block;
    width: max-content;
    margin-top: 2px;
  }
}

.c-header__title {
  a {
    color: $castpress_primary_color;
    &:hover {
      text-decoration: none;
      color: $castpress_quaternary_color;
    }

    &:focus {
      text-decoration: none;
    }
  }
}

.c-header__search {
  background-color: transparent;
  padding-left: 39px;
  display: none;

  &:hover {
    background-color: transparent;
  }

  @include media(tablet) {
    display: block;
  }
}

.c-header__search-icon {
  background-color: transparent;
  padding-top: 0px;
  &::before {
    content: " ";
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' focusable='false' width='1em' height='1em' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath d='M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392l.604.646l2.121-2.121l-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5s5 2.243 5 5s-2.243 5-5 5z' fill='%23626262'/%3E%3C/svg%3E")
      no-repeat 50% 50%;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' focusable='false' width='1em' height='1em' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath d='M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392l.604.646l2.121-2.121l-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5s5 2.243 5 5s-2.243 5-5 5z' fill='%23626262'/%3E%3C/svg%3E")
      no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    vertical-align: middle;
    background-color: $castpress_primary_color;
    margin-top: 5px;
  }

  &:hover {
    background-color: transparent;
  }
}

.c-header__search-form {
  display: none;
  position: absolute;
  right: 155px;
  top: 90px;

  .search-field {
    width: 315px;
  }

  input[type="search"] {
    &::placeholder {
      color: $castpress_second_color;
      font-size: 12px;
      line-height: 15px;
    }
  }
}

.custom-logo-link {
  width: 89px;
  height: max-content;
  padding-top: 5px;

  @include media(tablet) {
    padding-top: 0px;
  }
}

/*------------------------------------*\
  #toggle
\*------------------------------------*/
.c-header__main.toggled {
  .c-header__menu {
    &::before {
      transform: rotate(45deg) translate(-5px, -15px);
    }
    &::after {
      transform: rotate(-45deg) translate(-5px, 10px);
    }
  }

  .c-header__navigation {
    display: block;
  }

  .c-nav {
    display: block;
  }
}

.c-header__search.toggled {
  .c-header__search-form {
    display: block;

    animation: fadeInDown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  .c-header__search-icon {
    &::before {
      width: 20px;
      height: 25px;
      display: inline-block;
      content: " ";
      cursor: pointer;
      -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' focusable='false' width='1em' height='1em' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);' preserveAspectRatio='xMidYMid meet' viewBox='0 0 36 36'%3E%3Cpath d='M19.41 18l7.29-7.29a1 1 0 0 0-1.41-1.41L18 16.59l-7.29-7.3A1 1 0 0 0 9.3 10.7l7.29 7.3l-7.3 7.29a1 1 0 1 0 1.41 1.41l7.3-7.29l7.29 7.29a1 1 0 0 0 1.41-1.41z' class='clr-i-outline clr-i-outline-path-1' fill='%23626262'/%3E%3C/svg%3E%0A")
        no-repeat 50% 50%;
      mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' focusable='false' width='1em' height='1em' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);' preserveAspectRatio='xMidYMid meet' viewBox='0 0 36 36'%3E%3Cpath d='M19.41 18l7.29-7.29a1 1 0 0 0-1.41-1.41L18 16.59l-7.29-7.3A1 1 0 0 0 9.3 10.7l7.29 7.3l-7.3 7.29a1 1 0 1 0 1.41 1.41l7.3-7.29l7.29 7.29a1 1 0 0 0 1.41-1.41z' class='clr-i-outline clr-i-outline-path-1' fill='%23626262'/%3E%3C/svg%3E%0A")
        no-repeat 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
      vertical-align: middle;
      background-color: $castpress_primary_color;
      margin-top: 0px;
    }
  }
}

/* WordPress Default */
.custom-logo-link {
  display: inline-block;
}
