/*------------------------------------*\
  #navigation component
\*------------------------------------*/

.c-nav {
  width: 100%;

  display: none;

  @include media(tablet) {
    display: block;
  }
}

.c-nav__arrow {
  margin-top: 5px;
  font-size: 14px !important;

  &:hover {
    background-color: transparent !important;
  }
}

.c-nav__arrow.dashicons {
  &::before {
    color: $castpress_primary_color;
    content: "\f345";

    @include media(tablet) {
      content: "\f347";
    }
  }
}

/*------------------------------------*\
  #navigation scope
\*------------------------------------*/

.s-nav {
  padding: 0px;
  margin: 0px;
  margin-top: 45px;
  text-align: center;

  @include media(tablet) {
    margin-top: 0px;
  }

  .heart {
    &::before {
      display: inline-block;
    }
  }

  .menu-item.current-menu-item {
    .menu-item__link {
      color: $castpress_quaternary_color;
    }
  }

  li {
    display: block;
    position: relative;
    margin-bottom: 39px;
    text-transform: uppercase;

    @include media(tablet) {
      display: inline-block;
      margin-left: 39px;
      margin-bottom: 0px;

      &:hover {
        .sub-menu {
          display: block;
        }
      }
    }

    &:hover {
      .sub-menu {
        display: block;
        margin-bottom: 24px;
      }
    }

    &:focus-within {
      .sub-menu {
        display: block;
      }
    }

    &:last-child {
      // Edit position of last sub menu items
      .sub-menu {
        .sub-menu {
          z-index: 5;
          position: absolute;
          top: 100%;
          left: 0% !important;
          transform: translate(0%, 0%);
          .sub-menu {
            margin-left: 0px;

            .sub-menu {
              margin-left: 0px;
            }
          }
        }
      }
    }
  }
}

/*------------------------------------*\
  #Heart icon (Primary menu)
\*------------------------------------*/
.heart {
  text-transform: capitalize;

  &:hover {
    &:before {
      background-color: $castpress_quaternary_color;
    }
  }

  &::before {
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 10px;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);'%3E%3Cg fill='none'%3E%3Cpath d='M7 3C4.239 3 2 5.216 2 7.95c0 2.207.875 7.445 9.488 12.74a.985.985 0 0 0 1.024 0C21.125 15.395 22 10.157 22 7.95C22 5.216 19.761 3 17 3s-5 3-5 3s-2.239-3-5-3z' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E")
      no-repeat 50% 50%;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);'%3E%3Cg fill='none'%3E%3Cpath d='M7 3C4.239 3 2 5.216 2 7.95c0 2.207.875 7.445 9.488 12.74a.985.985 0 0 0 1.024 0C21.125 15.395 22 10.157 22 7.95C22 5.216 19.761 3 17 3s-5 3-5 3s-2.239-3-5-3z' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E")
      no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    vertical-align: middle;
    background-color: $castpress_primary_color;
    display: none;
  }
}

/*------------------------------------*\
  #Sub menus
\*------------------------------------*/

.sub-menu {
  display: none;
  height: max-content;
  left: 30%;
  top: -5px;
  min-width: 100%;
  max-width: max-content;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all;
  position: static;
  margin-left: 0px;
  margin-top: 24px;
  padding-left: 0px;
  padding-right: 23px;
  text-align: center;
  z-index: 90;

  @include media(tablet) {
    position: absolute;
    min-width: 179px; //qa-
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    top: 16px;
    left: 0%;
    background-color: $color_background_body;
    border: 1px solid $castpress_neutral_gray_light_second_color;
    padding: 0px;
  }

  li {
    margin-left: 15px;
    padding-top: 0px;
    display: block;
    line-height: 0px;
    margin-bottom: 16px;
    text-transform: capitalize;

    @include media(tablet) {
      padding-top: 16px;
      padding-bottom: 16px;
      margin-left: 0px;
      margin-bottom: 0px;
      width: 100%;
      padding: 16px 16px;
      display: flex;
      justify-content: flex-start;

      .c-nav__arrow {
        margin-top: 0px;
      }

      &:hover {
        background-color: #f4f4f4;
      }
    }

    a {
      color: $castpress_tertiary_color;
      @include media(tablet) {
        color: $castpress_primary_color;
      }
    }

    .menu-item__link {
      font-size: 14px !important; //qa-
      line-height: 18px !important; //qa

      @include media(tablet) {
        line-height: 20px !important;
        font-size: 12px !important; //qa-
        color: $castpress_primary_color !important;
      }
    }
  }

  .menu-item__link {
    text-transform: none;
    text-transform: capitalize;
  }

  .c-nav__arrow {
    display: none;

    position: absolute;
    right: 16px;
    top: 35%;

    @include media(tablet) {
      display: inline-block;
    }
  }

  .sub-menu {
    top: 20px;
    left: 100% !important;
    transform: translate(0%, 0%);
    margin-top: 0px;
    margin-left: 0px;
    display: none !important;

    @include media(tablet) {
      display: block !important;
    }

    .sub-menu {
      top: 100% !important;
      left: 0% !important;
      transform: translate(0%, 0%);

      .sub-menu {
        z-index: 5;

        .sub-menu {
          display: block !important;
          position: absolute;
          margin-left: 0px;

          .sub-menu {
            margin-left: 0px;
          }
        }
      }
    }
  }
}

/*------------------------------------*\
  #Menu items (li)
\*------------------------------------*/
.menu-item {
  position: relative;
  list-style-type: none;
  text-transform: capitalize;

  &:hover {
    a {
      &:hover {
        color: $castpress_quaternary_color;
      }
    }

    .c-nav__arrow {
      &::before {
        color: $castpress_quaternary_color !important;
        content: "\f343";

        @include media(tablet) {
          content: "\f347";
          color: $castpress_primary_color !important;
        }
      }
    }
  }

  // hover on li and change sub menus
  &:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
  }
  // focus on li and change sub menus
  &:focus-within > .sub-menu {
    opacity: 1;
    visibility: visible;
  }
}

.menu-item__link {
  text-decoration: none;
  color: $castpress_primary_color;
  letter-spacing: 0.16em;
  font-size: 14px;
  line-height: 18px !important;
  font-family: $castpress_font;
  font-weight: 600;

  @include media(tablet) {
    font-size: 12px;
    line-height: 15px !important;
    letter-spacing: 0.1em;
  }

  &:hover,
  &:focus {
    color: $castpress_quaternary_color;
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }
}
