.c-episode__featured {
  width: 100%;

  background-color: darkorchid;
}

.c-episode__head {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include media(tablet) {
    height: 180px;
    justify-content: flex-start;
  }
  background-color: lightblue;
}

.c-episode__image {
  width: 180px;
  height: 100%;
}

.c-episode__context {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 16px;

  @include media(tablet) {
    width: calc(100% - 180px);
    padding-top: 0px;
    padding-left: 39px;
    text-align: left;
  }

  background-color: lightcoral;
}

.c-episode__category {
  padding-bottom: 8px;
}

.c-episode__palyer {
  width: 100%;
  position: relative;
  height: max-content;
  display: flex;
  justify-content: center;

  background-color: darkviolet;
}

.c-episode__category {
  color: $makemeup_third_color;

  &:hover {
    color: $makemeup_primary_color;
  }
  a {
    color: $makemeup_third_color;

    &:hover {
      color: $makemeup_primary_color;
    }
  }
}

.c-episode {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 52px;

  @include media(tablet) {
    margin-bottom: 64px;
  }
}

.c-episode__header {
  width: 100%;
  // margin-bottom: 40px;
  color: $makemeup_primary_color;

  &::first-letter {
    text-transform: uppercase;
  }

  @include media(tablet) {
    width: calc(100% - 180px);
    padding-left: 39px;
  }
}

.c-episode__header--page {
  padding-left: 0px;
  margin-bottom: 40px;
}

.c-episode__author {
  color: $makemeup_third_color;
}

.c-episode__author__link {
  &::first-letter {
    text-transform: uppercase;
  }
}

.c-episode__header {
  width: 100%;
  // margin-bottom: 40px;
  color: $makemeup_primary_color;

  &::first-letter {
    text-transform: uppercase;
  }

  @include media(tablet) {
    width: 100%;
    padding-left: 0px;
  }
}

.c-episode__content {
  font-size: 18px;
  color: $makemeup_neutral_dark_gray_color;

  li {
    margin-bottom: 8px;
  }
}

.c-episode__title {
  padding-bottom: 12px;
  margin-top: 14px;

  a {
    color: $makemeup_primary_color;
  }
}

.c-episode__entry-meta {
  padding-bottom: 16px;

  @include media(tablet) {
    padding-bottom: 39px;
  }
}

.c-episode__thumbnail {
  width: 180px;
  height: 180px;
  max-height: 180px;
  margin-bottom: 16px;
  border-radius: 4px;

  @include media(tablet) {
    margin-bottom: 0px;
  }
}

.c-episode__read-more {
  color: $makemeup_fourth_color;
  font-family: $makemeup_font_semibold !important;
  letter-spacing: 0.16em;
  text-transform: uppercase;

  &:hover > .c-episode__play::before {
    filter: brightness(0.3);
  }
  &:focus > .c-episode__play::before {
    filter: brightness(0.3);
  }
}
.c-episode__page-links {
  margin: 16px 0px 0px 0px;
}

.c-episode__tags {
  padding-right: 24px;
  color: $makemeup_neutral_dark_gray_color !important;

  &:hover {
    color: $makemeup_main_accent_color !important;
  }
}

.c-episode__social-share__title {
  margin-top: 39px;
  margin-bottom: 12px;
  width: 100%;
}

.c-episode__play {
  &::before {
    display: block;
    content: " ";
    transition: 0.5s all;
    background-image: url("../images/play.svg");
    background-size: 28px 28px;
    height: 28px;
    width: 28px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
}

.c-episodes__share {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.c-episodes__social-share__icons {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0px 15px;
  vertical-align: middle;

  &:hover {
    color: $makemeup_main_accent_color;

    path {
      fill: $makemeup_main_accent_color;
    }
  }
}

.icon--md {
  width: 30px;
  height: 30px;
}

.icon--bg {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.spacer {
  margin-top: 99px;
}

.c-episode__player {
  margin-top: 48px;
}
